
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 45%;
    padding: 10px;
    padding-left: 10%;
}

.ui-datepicker-multi .ui-datepicker-group + .ui-datepicker-group {
    padding-left: 10%;
}
.ui-datepicker table td{
    padding: 4px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0;
    line-height: 9px;
    text-align: center;
}

.ui-datepicker table td.ui-datepicker-today .ui-state-highlight {
    background-color: gray !important;
    color: #fff;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    border: 1px solid transparent;
    background: transparent;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
    display: none;
}
    input[type="text"] {
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    /* Modal CSS */
    .modal {
        display: none;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.4);
        /* padding-top: 60px; */
    }

    /* .modal-dialog {
        width: 400px;
        margin: auto;
    } */

    .modal-content {
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 5px;
    }

    /* .modal-header {
        border-bottom: 1px solid #ddd;
    } */

    /* .modal-footer {
        text-align: right;
    } */

    /* Style for booked dates (Red color) */
    .booked, .booked .ui-state-default{
        background-color: red !important;
        color: black !important;
    }
    .optioned, .optioned .ui-state-default{
        background-color: orange !important;
        color: black !important;
    }

    .ui-datepicker table  .ui-state-active {
    background-color: #26A69A !important;
    color: #fff;
}
    .ui-datepicker table td.ui-datepicker-today .ui-state-highlight:after{
        border-top: 0;
    }

    .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{
        opacity: 1;
    }

    .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
        top: 50%;
    }
    /* Style for optioned dates (Orange color) */

    /* Default styling for available dates */
    /* .ui-state-default {
        background-color: white !important;
        color: black !important;
    } */