.modal_btn {
    background-color: transparent;
}

.modal-btn-close {
    position: absolute;
    background: #fff;
    top: -20px;
    z-index: 10;
    opacity: 1;
    display: inline-block;
    width: 40px;
    color: #000;
    border-radius: 100px;
    height: 40px;
    right: -20px;
    padding: 0 !important;
    font-size: 24px !important;
    line-height: 45px !important;
}

.modal-sm {
    position: fixed;
    bottom: 0;
    max-width: 300px !important;
}

.modal-sm iframe {
    width: 300px;
    height: 200px;
}

/*PAV css start*/
#m-dialog.modal-sm {
    margin-left: 15px;
    margin-bottom: 15px;
}

#m-dialog.modal-sm .modal-body {
    width: 300px;
}

#m-dialog .modal-body {
    transition: 0.5s ease-in;
}

.full-screen-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 50%);
    display: none;
}

#m-dialog .modal-body:hover .full-screen-wrapper,
#small_video_div:hover .full-screen-wrapper,
#m-dialog .modal-body:focus .full-screen-wrapper {
    display: flex;
}

.modal-btn-full {
    border: 3px solid #fff;
    padding: 5px 5px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    z-index: 9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.modal-btn-full:hover,
.modal-btn-full:focus {
    border-color: #35b8dc;
    background: #35abdc;
}

.modal-btn-full:hover svg,
.modal-btn-full:focus svg {
    fill: #35aadc !important;
}

.modal-btn-full:hover svg path,
.modal-btn-full:focus svg path {
    stroke: #fff !important;
}

#gdpr-cookie-message {
    z-index: 9999 !important;
}


#video_modal_lg .modal-dialog {
    max-width: 75%;
    margin: 50px auto;
    height: calc(100% - 100px);
}

#video_modal_lg .modal-dialog .modal-content {
    height: 100%;
    padding: 0;
    background: transparent;
}

.modal-backdrop.show {
    opacity: .7;
}

#video_modal_lg .modal-dialog .modal-content button.close {
    position: absolute;
    background: #fff;
    top: -20px;
    z-index: 10;
    opacity: 1;
    display: inline-block;
    width: 40px;
    color: #000;
    border-radius: 100px;
    height: 40px;
    right: -20px;
}

#video_modal_lg .modal-dialog .modal-content .modal-body {
    border-radius: 30px;
    overflow: hidden;
}

@media screen and (max-width:1199px){
    .full-screen-wrapper{
        display: flex;
    }
}

@media (max-width: 992px) {

    #m-dialog .full-screen-wrapper {
        display: flex;
    }
}

@media (max-width: 767px) {

    #m-dialog.modal-sm .modal-btn-full {
        height: 35px;
        width: 35px;
        border-radius: 25px;
        padding: 5px !important;
    }

    #m-dialog.modal-sm .modal-btn-full svg {
        width: 20px;
        height: 20px;
    }

}

@media(max-width:600px) {
    #video_modal_lg .modal-dialog {
        max-width: 95%;
        margin: 100px auto 0;
        height: auto;
    }

    #video_modal_lg .modal-dialog iframe {
        min-height: 300px;
    }
}

/*PAV css end*/

.small_video_div{
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    margin: 15px;
    z-index: 99;
}